<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".DrbApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.DriverApp"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.PickupListActivity" android:exported="false"/>
        <activity android:name=".ui.PickupDetailsActivity" android:exported="false"/>
        <activity android:name=".ui.BarcodeAssignmentActivity" android:exported="false"/>
        <activity android:name=".ui.ImageCaptureActivity" android:exported="false"/>
        <activity android:name=".ui.PickupConfirmationActivity" android:exported="false"/>

        <!-- Storekeeper (WAREHOUSE role) flow -->
        <activity android:name=".ui.StorekeeperHomeActivity" android:exported="false"/>
        <activity android:name=".ui.WarehouseScanActivity" android:exported="false"/>
        <activity android:name=".ui.WarehouseReturnDetailsActivity" android:exported="false"/>
        <activity android:name=".ui.WarehouseInspectionActivity" android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>


